<h4>Post details:</h4>
<br />
<p>
  <%= @row['content'] %>
	<br />
	<br />
	Added at <%= @row['created_date'] %>
	<br />
</p>
<br />
<h4>Comments:</h4>
<p>
    <form action="/details/<%= @row['id'] %>" method="POST">
       <div class="form-floating">
         <textarea name="content" class="form-control" placeholder="Type comment text here" id="floatingTextarea"></textarea>
         <label for="floatingTextarea"></label>
       </div>
       <button type="submit" class="btn btn-primary">Add comment</button>
    </form>
</p> 