<h2>Add New Post</h2>
<p>
    <form action="/new" method="POST">
       <div class="form-floating">
         <textarea name="content" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
         <label for="floatingTextarea">Comments</label>
       </div>
       <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</p> 